@import "share/global";
@import "share/head";
@import "components/pagination";
@import './components/footer';
@import './components/x-form';
@import './components/select';
@import './components/date';


.header-top{
  background-color: #fff;
  .s-logo{
    background-image: url(../images/logo-back.png);
    cursor: pointer;
  }
  .system-type{
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
    color: #4c4c4c;
  }
  .right-side{
    a{
      color: #808080;
    }
    .apply-btn{
      color: #3bf;
      border-color: #3bf;
    }
  }
}


.company-home-container{
  margin-top: 30px;
  margin-bottom: 100px;

  .index-container{
    width: 200px;
    font-size: 16px;
  }

  a{
    color: #808080;
    &.active{
      color: #4c4c4c;
      font-weight: bold;
    }
  }
  .service-item{
    margin-top: 20px;

    &:first-child{
      margin-top: 0px;
    }


  }

  .content-container{
    background-color: #fff;
    width: 800px;
  }
}

.module-container{
  border: 1px solid #e5e5e5;
  min-height: 500px;

  .info-indexs{
    background-color: #edefed;
    padding-left: 20px;

    .to-right{
      display: inline-block;
      text-align: right;
      width: 400px;

      .show{
        font-size: 14px;
        color: #0af;
      }

    }

    .info-index{
      display: inline-block;

      a{
        display: block;
        width: 120px;
        height: 48px;
        line-height: 50px;
        text-align: center;
        color: #808080;

        &.active{
          color: #09f;
          border-bottom: 2px solid #09f;
          font-weight: bold;
        }

      }
    }
  }
}

.info-content{
  background-color: #FFFFFF;
}

.company-info-container{

  .c-row{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    .c-label, .c-value{
      display: inline-block;
      vertical-align: top;

    }

    .c-label{
      width: 220px;
      color: #808080;
    }

    .c-value{
      width: 540px;

      .tips{
        display: inline-block;
        vertical-align: bottom;
        margin-left: 15px;
        color: #b2b2b2;
      }
    }

    .c-input{
      height: 38px;
      width: 525px;
      padding-left: 10px;
      font-size: 14px;
      color: #333;
      border-radius: 3px;
      border: 1px solid #ccc;
    }


  }
  .c-introduce{
    width: 515px;
    height: 100px;
    border: 1px solid #e5e5e5;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
  }
}

.x-upload{
  background-color: #f4f4f4;
  border: 2px solid #e5e5e5;


}

.logo-upload{
  width: 96px;
  height: 96px;
  display: inline-block;

  .label-icon{
    background-image: url(../images/add_icon.png);
    width: 24px;
    height: 24px;
    margin: 0 auto;
    margin-top: 25px;
  }

  .label-text{
    text-align: center;
    margin-top: 10px;
    color: #b2b2b2;
  }
}

.broadcast-img-upload{
  width: 232px;
  height: 46px;

  .upload-label{
    text-align: center;
    line-height: 46px;
  }

  .label-icon,.label-text{
    display: inline-block;
    vertical-align: middle;

  }

  .label-icon{
    background-image: url(../images/add_icon.png);
    width: 24px;
    height: 24px;
  }

  .label-text{
    text-align: center;
    color: #b2b2b2;
    margin-left: 10px;
  }


}

.block-tips{
  color: #b2b2b2;
  margin-top: 10px;
}

.group-item{
  margin-top: 15px;

  .content{
    width: 140px;
    display: inline-block;
    font-size: 14px;
  }
  .item-tips{
    display: inline-block;
    font-size: 14px;
    color: #808080;
  }
}


.show-info{

  .company-logo{
    width: 100px;
    height: 100px;
  }

  .company-img{
    width: 236px;
    height: 50px;
  }
}

.tab-container{
  padding: 20px;
  .head{
    height: 42px;
    background-color: #f4f4f4;
    color: #808080;
    border: 1px solid #e5e5e5;

    .head-right-bar, .head-title{
      line-height: 42px;

    }

    .head-title{
      padding-left: 20px;
      width: 619px;
    }
    .head-right-bar{
      width: 119px;
      text-align: center;
    }
  }

  .list{
    margin-top: 20px;


    .item{
      border: 1px solid #e5e5e5;
      border-bottom: none;
      height: 50px;
      .title{
        width: 618px;
        padding-left: 20px;
        line-height: 50px;
        border-right: 1px solid #e5e5e5;
        a{
          color: #0af;

        }

      }

      .action-group{
        width: 119px;
        text-align: center;

        button{
          font-size: 14px;
          border: none;
          outline: none;
          background-color: #ffffff;
        }
      }

      &:last-child{
        border-bottom: 1px solid #e5e5e5;
      }
    }
  }
}

.j8-form{

  textarea{
    border-radius: 3px;
  }

  .j8-label{
    color: #4c4c4c;
  }
  .j8-input{
    border-color: #cccccc;
    color: #333333;
  }

  .service-type{

    margin-top: 0;
    .j8-label{
      padding-top: 20px;
      vertical-align: top;

    }
  }

  .date-input{
    height: 40px;
    border-color: #cccccc;
  }

  .description{
    width: 620px;
    height: 100px;
    border: 1px solid #e5e5e5;
    resize: none;
    outline: none;
    padding: 10px;
  }

  .tips{
    color: #b2b2b2;
    margin-left: 120px;
    margin-top: 6px;
  }
  .ml-120{
    margin-left: 120px;
  }
  .mt-0{
    margin-top: 0px;
  }
  .ml-0{
    margin-left: 0px;
  }



  .label-icon{
    background-image: url(../images/big_add_icon.png);
    width: 160px;
    height: 104px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2px solid #ccc;
  }

  .img-item{
    width: 164px;
    height: 108px;
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;


  }
  .mask{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index:1;
  }
  .mask:hover{
    background-color: rgba(0,0,0,.3);

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../images/delete_icon.png);
  }
  .img-size{
    width: 164px;
    height: 108px;
  }
  .upload-label{
    width: 800px;
    margin-left: -20px;
    margin-top: -20px;
  }
  .line{
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
  }

  .x-btn-group{
    margin-left: 120px;
  }
}

.collect-container{

  .en-header{
    padding-left: 20px;
    background-color: #edefed;

    a{
      display: block;
      width: 120px;
      height: 48px;
      line-height: 50px;
      text-align: center;
      color: #808080;

      &.active{
        color: #09f;
        border-bottom: 2px solid #09f;
      }

    }
  }

  .module-list{
    padding: 20px;
    background-color: #FFFFFF;

    .list-title{
      height: 42px;
      background-color: #f4f4f4;
      color: #808080;
      border: 1px solid #e5e5e5;

      .en-title-action, .en-title-content{
        line-height: 42px;

      }

      .item-title{
        line-height: 42px;
      }

      .right-items{
        width: 119px;
        text-align: center;
      }

      .en-title-content{
        padding-left: 20px;
        width: 619px;
      }
      .en-title-action{
        width: 119px;
        text-align: center;
      }
      .co-title-content{
        padding-left: 20px;
        width: 599px;
      }
      .co-title-action{
        width: 139px;
        text-align: center;
      }
    }

    .list-container{

      .tender-item{
        border: 1px solid #e5e5e5;
        margin-top: 20px;
        color: #333;

        .head{
          height: 42px;
          background-color: #f4f4f4;
          line-height: 42px;
          padding-left: 20px;
        }
        .head-title{
          width: 640px;
        }

        .body{
          .left-side{
            padding: 20px;
            width: 578px;
            padding-top: 5px;

            .row-left{
              width: 340px;
            }

            .info-row{
              margin-top: 15px;
            }
          }

          .value-item{
            margin-right: 8px;
            display: inline-block;
          }


          .right-side{
            width: 139px;
            border-left: 1px solid #e5e5e5;
            text-align: center;
            height: 127px;

            color: rgb(255, 181,103);

            .user-info{
              line-height: normal;
              margin-top: 44px;
              width: 100%;
            }

          }
        }
      }
    }
  }
}

.case-img-tip{
  color: #b2b2b2;
  margin-bottom: 10px;
}

.error-tips{
  margin-left: 10px;
}
.ml-120{
  margin-left: 120px;
}

.concat-label, .Check-box-group{
  color: #333333;
}