@import "share/global";
@import "share/head";
@import './components/footer';
@import './components/wizard';



.header-top{
  background-color: #fff;
  border-bottom: none;
  .s-logo{
    background-image: url(../images/logo-back.png);
    cursor: pointer;
  }
  .system-type{
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
    font-size: 16px;
    color: #4c4c4c;
  }
  .right-side{
    a{
      color: #808080;
    }
    .apply-btn{
      color: #3bf;
      border-color: #3bf;

    }
  }
}

.fp-head{
  background-color: #FFFFFF;
  border-top: 1px solid #e6e6e6;
}
.fp-body{
  padding-top: 60px;


  input{
    width: 305px;
    padding-left: 10px;
    color: #b2b2b2;
    border: 2px solid #cccccc;
    height: 44px;
    outline: none;
    font-size: 14px;
    border-radius: 3px;
  }
  .error-tips{
    color: #ff0000;
    font-size: 14px;
    height: 19px;
    font-size: 12px;
  }

  .captcha{
    height: 50px;
    margin-left: 15px;
    width: 105px;
  }
  .half-w{
    width: 185px;
  }

  .form-group{
    width: 320px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;

    &:first-child{
      margin-top: 40px;
    }

  }
  .g-btn-primary{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0af;
    border-radius: 3px;
    width: 320px;
    height: 50px;
    margin: 40px auto;
    margin-bottom: 70px;
    display: block;

    &:hover{
      background-color: #1ab3ff;
      border-color: #1ab3ff;

    }

    &:focus, &:visited{
      background-color: #08c;
      border-color: #08c;
    }
  }
  .title, .title-tips{
    text-align: center;
  }
  .title{
    margin-bottom: 40px;
    color: #4c4c4c;
  }
  .backend-tips{
    text-align: center;
    margin-top: -20px;
    color: #ff0000;
  }
  .code-button{
    width: 105px;
    display: inline-block;
    margin-left: 15px;
    color: #FFFFFF;
    background-color: #0af;
    border-radius: 3px;
    border: 1px solid #0af;
    height: 50px;
    outline: none;
    font-size: 14px;

  }



  .step-two{

    .title-tips{
      margin-top: 5px;
      font-size: 12px;
    }

  }
}