@import './share/global';
@import './components/city-selecter';
@import './components/footer';
@import './components/publish';
@import './components/header';
$header_height: 600px;
$header_top_height: 60px;


@-webkit-keyframes BackgroundChange {
  0% {
    background-image: url(../images/banner_img.jpg);
  }
  20%{
    background-image: url(../images/banner_img.jpg);
  }

  25% {
    background-image: url(../images/banner_img2.jpg);
  }
  45%{
    background-image: url(../images/banner_img2.jpg);
  }
  50% {
    background-image: url(../images/banner_img3.jpg);
  }
  70% {
    background-image: url(../images/banner_img3.jpg);
  }
  75% {
    background-image: url(../images/banner_img4.jpg);
  }
  100%{
    background-image: url(../images/banner_img4.jpg);
  }
}


header{
  height: $header_height;
  background-image: url(../images/banner_img.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  min-width: 1000px;

  &.carousel{
    -webkit-animation: BackgroundChange 20s infinite;
    -moz-animation: BackgroundChange 20s infinite;
    animation: BackgroundChange 20s infinite;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .title-welcome{
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
  }

  .site-title{
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  .be-a-company{
    margin-top: 80px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    height: 44px;
    background-color: #0af;
    text-align: center;
    line-height: 44px;
    border-radius: 3px;

    &:hover{
      background-color: #1ab3ff;

    }
    &:active{
      background-color: #08c;
    }

  }

  .header-bottom{
    height: 130px;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .search-and-tool{
      margin-top: 30px;
      height: 40px;
      color: #333333;
      font-size: 0;

      input{
        height: 36px;
        border: 1px solid #fff;
        border-radius: 3px;
        padding-left: 10px;

      }
      button{
        height: 40px;
        font-size: 16px;
        color: #fff;
        border-radius: 3px;
        background-color: #0af;
        border: 1px solid #0af;

        &:hover{
          background-color: #1ab3ff;
          border-color: #1ab3ff;

        }

        &:active, &:visited{
          background-color: #08c;
          border-color: #08c;
        }
      }
      .publish-button{
        width: 120px;
      }
      .search-input{
        width: 511px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        outline: none;
        font-size: 16px;
        color: #333333;
      }
      .city-selecter{
        height: 38px;
        border: 1px solid #fff;
        margin-left: 2px;
        line-height: 38px;
        padding-left: 10px;
        width: 148px;
        font-size: 14px;

        .value{
          height: 35px;
          font-size: 16px;
          width: 130px;
          padding-left: 0px;
        }

        .search-city{
          font-size: 16px;
        }
      }

      .search-button{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 2px;
        width: 120px;
        vertical-align: top;
      }
      .publish{
        width: 120px;
        vertical-align: top;
        display: inline-block;
      }
      .text-split{
        display: inline-block;
        vertical-align: top;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #b2b2b2;
        width: 72px;
        text-align: center;
      }
    }
  }
}
.header-top{
  height: $header_top_height;

  .s-logo{
    background-image: url(../images/logo.png);
    height: 100%;
    line-height: $header_top_height;
    background-repeat: no-repeat;
    margin-left: 23px;
    float: left;
    width: 160px;
    cursor: pointer;
    background-size: 100%;

    &.logo-big{
      margin-top: 10px;
      background-image: url(../images/logo-big.png);
      height: 70px;
      width: 220px;
    }
  }

  .right-side{
    float: right;

    li{
      display: inline-block;
      line-height: $header_top_height;
      margin-right: 30px;
      font-size: 14px;
      color: #fff;
    }

    .apply-btn{
      height: 34px;
      width: 120px;
      border: 2px solid #fff;
      border-radius: 3px;
      font-size: 14px;
      color: #fff;
      line-height: normal;
      background-color: rgba(255, 255, 255, .2);
      filter:alpha(opacity=20);
      cursor: pointer;
      &:hover{
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }
}

.hot-word-tool{
  margin-top: 15px;
  font-size: 14px;
  color: #fff;

  .tool-title,#hot_words{
    display: inline-block;
  }
  .hot-word{
    margin-right: 10px;
  }
}

.companies{

  section{
    margin-top: 55px;
    color: #4c4c4c;

    .section-head{
      font-size: 30px;
    }

    .section-title{
      font-size: 18px;
      margin-top: 20px;
    }
  }
  .index-section{
    margin-top: 50px;
  }


  .load-more{
    display: block;
    width: 160px;
    margin: 45px auto 55px auto;
    color: #0af;
    font-size: 14px;
    outline: none;
    text-align: center;
    font-weight: bold;

    &:hover{
      text-decoration: underline;
    }

    &.mb-100{
      margin-bottom: 100px;
    }
  }
}


//companies

.company-list{
  margin-top: 10px;
  font-size: 0;


  .company-item:first-child{
    margin-left: 0;
  }

  .company-item{
    width: 320px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
    height: 360px;

    &.main-item{
      width: 660px;

      .company-img{
        height: 240px;
        width: 100%;
        cursor: pointer;
        display: block;
      }
    }
    &.ml-0{
      margin-left: 0;
    }

    .company-info{
      padding: 15px 20px;
      background-color: #fff;
    }
    .company-img{
      height: 240px;
      width: 320px;
      cursor: pointer;
      display: block;
    }
    .company-name{
      font-size: 20px;
      color: #333;
      cursor: pointer;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    .company-tags{
      font-size: 14px;
      color: #808080;
      padding-top: 10px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      height: 19px;
      text-overflow: ellipsis;
    }
    .company-cases{
      font-size: 14px;
      color: #808080;
      padding-top: 10px;

      .cases-num{
        color: #ff9801;
      }
    }
  }




}

.row-list{
  margin-top: 40px;
  font-size: 0;
  .company-item{
    width: 320px;
    display: inline-block;
    margin-left: 20px;
    background-color: #FFFFFF;
    vertical-align: top;

    &:first-child{
      margin-left: 0px;
    }
    .company-img{
      width: 100%;
      height: 240px;
      cursor: pointer;
      display: block;
    }

    .company-info{
      height: 55px;
      padding: 15px 20px;
      font-size: 14px;

      .company-name{
        font-size: 20px;
        color: #333333;
        cursor: pointer;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
      .company-cases{
        margin-top: 10px;

        .cases-num{
          color: #ff9801;
        }
      }
    }
  }

}


.cities-index{
  width: 660px;
  height: 360px;
  background-image: url("/images/city-bg.jpg");
  background-repeat: no-repeat;

  .title{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
  }

  .cities{
    font-size: 0;
    text-align: center;

    .v-line{
      display: inline-block;
      height: 20px;
      width: 2px;
      background-color: rgba(255,255,255,.5);
      vertical-align: middle;
    }

    a{
      color: #FFFFFF;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;

      &:hover{
        text-decoration: underline;
      }
    }

    &.main-cities{
      margin-top: 70px;
      a{
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
      }
      a:last-child{
        border-right: none;
      }


    }

    &.other-cities{
      margin-top: 30px;
      a{
        font-size: 24px;
        padding-left: 12px;
        padding-right: 12px;
      }
      a:last-child{
        border-right: none;
      }
    }


  }
}
.types-index{
  width: 300px;
  height: 360px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFFFFF;

  .w-99{
    width: 99px;
  }
  .w-149{
    width: 149px;
  }


  .title{
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #ca6c57;
    text-align: center;
  }

  .type-container{

    a{
      font-size: 16px;
      font-weight: bold;
      color: #4c4c4c;
      line-height: 48px;
      border-bottom: 2px solid #e6e6e6;
      display: inline-block;
      text-align: center;
      border-right: 2px solid #e6e6e6;

      &:hover{
        color: #FFFFFF;
        background-color: #ea6c57;
      }
    }

    .type-row{
      font-size: 0px;

      &:last-child{
        a{
          border-bottom: none;
        }
      }

      &.type-3{
        a:last-child{
          width: 98px;
        }

      }

      a:last-child{
        border-right: none;
      }
    }
  }
}

.ui-dialog-titlebar{
  display: none;
}

#loginDialog{
  display: none;
}
#publishDialog{
  display: none;
}

