@import "share/global";
@import "share/head";
@import "components/pagination";
@import './components/footer';
@import "./components/city-selecter";
@import './components/publish';

.header-top{
  background-color: #fff;
  border-bottom: none;
  .s-logo{
    background-image: url(../images/logo-back.png);
    cursor: pointer;
  }
  .right-side{
    a{
      color: #808080;
    }
    .apply-btn{
      color: #3bf;
      border-color: #3bf;
    }
  }
}

.search-container{
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  padding-top: 29px;
  padding-bottom: 10px;
  min-width: 1000px;
}

.search-and-tool{
  height: 40px;
  padding-bottom: 30px;
  color: #333333;
  font-size: 0;

  input{
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
  }
  button{
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    background-color: #0af;
    border: 1px solid #0af;
    width: 120px;
  }
  .search-input{
    width: 673px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    font-size: 16px;
    border-right: none;
    color: #333;
    display: block;
    float: left;
  }

  .search-button{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 120px;
    vertical-align: top;
  }
  .publish{
    width: 120px;
    display: block;
    float: left;
  }
  .text-split{
    display: block;
    float: left;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #4c4c4c;
    width: 75px;
    text-align: center;
  }
  .search{
    float: left;
  }
}
.filter-group {
  border-top: 1px solid #f4f4f4;
  font-size: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  
  .filter-title{
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 24px;

  }
  .filter-city-title{
    line-height: 24px;
  }
  .filter-container{
    display: inline-block;
    vertical-align: top;
    
    .filter-item{
      line-height: 24px;
      text-align: center;
      display: inline-block;
      color: #4c4c4c;
      padding: 0px 10px;
      margin-left: 5px;
      font-size: 14px;
      
      &:hover, &.active{
        color: #fff;
        background-color: #0af;

      }
    }
  }


  &.types{
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0px;

    .filter-title{
      margin-top: 5px;
    }
    .filter-container{
      width: 928px;
      .filter-item{
        margin-top: 5px;
      }

    }
  }
  
}

.list-container{
  margin-top: 30px;

  .search-result-num{
    font-size: 14px;
    color: #4c4c4c;
  }

  .companies-list{
    margin-top: 10px;

  }

  .company-item{
    margin-top: 3px;
    background-color: #fff;

    .company-logo{
      padding: 40px;

      img{
        width: 130px;
        height: 130px;
        border: 2px solid #e5e5e5;
      }
    }

    .company-info{
      padding-top: 36px;
      width: 786px;

      .head{

        .name{
          font-size: 18px;
          color: #333333;
        }

        .c-enshrine{
          cursor: pointer;
          width: 26px;
          height: 26px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          float: right;
          margin-right: 20px;
        }

        .collect{
          background-image: url("../images/collect_icon.png");
          &:hover{
            background-image: url("../images/collect_icon_hover.png");
          }
        }
        .collected{
          background-image: url("../images/collect_icon_click.png");
        }
      }
    }

    .tags-container{
      margin-top: 6px;
      margin-left: -2px;
      min-height: 52px;

      li{
        float: left;
        height: 24px;
        line-height: 24px;
        padding: 0px 8px;
        margin-left: 2px;
        margin-top: 2px;
        color: #FFFFFF;

      }
    }

    .row-info{
      margin-top: 8px;

      .label-name{
        font-size: 14px;
        color: #333333;
        margin-right: 10px;
      }

      &.cases{
        margin-top: 6px;
        .values{
          color: #ff9900;
        }
      }
    }

    .service-container{
      width: 733px;
      margin-top: -2px;

      li{
        display: inline-block;
        color: #4c4c4c;
        margin-left: 2px;
        margin-top: 2px;
      }
    }

  }

  .company-pagination{
    margin-top: 3px;
    height: 64px;
    background-color: #fff;
    padding-top: 30px;
    text-align: center;

  }

}

#loginDialog{
  display: none;
}
#publishDialog{
  display: none;
}