@import "share/global";
@import "share/head";
@import "components/pagination";
@import './components/footer';

.header-top{
  background-color: #fff;
  .s-logo{
    background-image: url(../images/logo-back.png);
  }
  .system-type{
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
    font-size: 16px;
    color: #4c4c4c;
  }
  .right-side{
    a{
      color: #808080;
    }
    .apply-btn{
      color: #3bf;
      border-color: #3bf;
    }
  }
}