<div id="publishDialog" class="tender-type-container">
    <div class="head">请选择需求类型</div>
    <div class="type-container">
        <a class="inline-b meeting" href="/tender?type=meeting">
            <div class="type-img"></div>
            <div class="type-name">发布会议</div>
        </a>
        <a class="inline-b exhibition" href="/tender?type=exhibition">
            <div class="type-img"></div>
            <div class="type-name">发布展览</div>
        </a>
    </div>
    <div class="close"></div>

</div>