.city-selecter{
  background-color: #fff;
  position: relative;

  .city-container{
    background-color: #fff;
    width: 453px;
    height: 150px;
    margin-left: -11px;
    padding: 6px 5px 16px 16px;
    margin-top: 3px;
    display: none;
    box-shadow: 0px 1px 5px rgba(0,0,0,.3);

    li{
      width: 101px;
      height: 38px;
      display: block;
      line-height: 38px;
      text-align: center;
      background-color: #e6e6e6;
      color: #333333;
      margin-right: 10px;
      float: left;
      margin-top: 10px;
      cursor: pointer;
      border: 1px solid #d9d9d9;

      &:hover, &.selected{
        background-color: #00aaff;
        color: #fff;
        border-color: #0af;
      }



    }
  }
  .show{
    display: block;
  }
  .arrow{
    width:0;
    height:0;
    border-width:6px 6px 0;
    border-style:solid;
    border-color:#b2b2b2 transparent transparent;/*灰 透明 透明 */
    margin:40px auto;
    position: absolute;
    top: -23px;
    right: 10px;
    cursor: pointer;
  }
}