.comment-add{

  .x-close{
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.comment-form{

  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  color: #4c4c4c;
  .title{
    text-align: center;
    margin-top: 20px;

  }

  .comment-form-group{

    .inline{
      vertical-align: middle;
    }

    &.score-group{
      margin-top: 40px;
    }
  }

  .comment-content{
    display: block;
    resize: none;
    width: 478px;
    height: 78px;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #4c4c4c;
  }

  .btn-group{
    text-align: right;
    margin-top: 20px;

    button{
      width: 120px;
      height: 34px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #FFFFFF;
      color: #808080;
      font-size: 14px;

      &:hover{
        background-color: #0af;
        color: #fff;
        border-color: #0af;
      }
    }

    .submit{
      border-color: #0af;
      color: #0af;
    }
  }
}