.tender-type-container{
  position: relative;

  .head{
    text-align: center;
    color: #4c4c4c;
  }

  .type-container{
    width: 414px;
    margin: 0 auto;
    margin-top: 54px;
    font-size: 0;
  }

  .exhibition, .meeting{
    cursor: pointer;
    width: 170px;
    background-repeat: no-repeat;
  }
  .meeting{
    background-image: url("../images/meeting_icon.png");

    &:hover{
      background-image: url("../images/meeting_icon_hover.png");
    }
  }
  .exhibition{
    margin-left: 74px;

    background-image: url("../images/exhibition_icon.png");

    &:hover{
      background-image: url("../images/exhibition_icon_hover.png");
    }
  }
  .type-name{
    text-align: center;
    font-size: 18px;
    color: #4c4c4c;
    margin-top: 18px;
  }
  .type-img{
    width: 170px;
    height: 170px;
    border: none;
  }

  .close{
    position: absolute;
    cursor: pointer;

    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-image: url("../images/cancel_icon.png");

    &:hover{
      background-image: url("../images/cancel_icon_hover.png");
    }
  }

}


.error-dialog{

  position: relative;

  .head{
    text-align: center;
    color: #4c4c4c;
  }


  .title{
    font-size: 24px;
    color: #ff0000;
    padding-left: 30px;
    margin-top: 35px;

  }

  .tips{
    font-size: 14px;
    color: #4c4c4c;
    padding-left: 30px;
    margin-top: 20px;
  }
  .g-btn-primary{
    border-radius: 3px;
    position: absolute;
    right: 50px;
    bottom: 40px;
  }

  .close{
    position: absolute;
    cursor: pointer;

    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-image: url("../images/cancel_icon.png");

    &:hover{
      background-image: url("../images/cancel_icon_hover.png");
    }
  }

}