$x-value-color: #333333;

.x-form{

  padding: 0 20px;
  .x-form-group{

    height: 79px;
    border-bottom: 1px solid #b2b2b2;

    .x-label{
      width: 200px;
      display: inline-block;
      line-height: 79px;
      padding-left: 20px;
      color: #808080;

    }

    .x-value{
      width: 400px;
      display: inline-block;
      color: $x-value-color;
    }
    .x-tips{
      width: 140px;
      display: inline-block;
      color: #b2b2b2;
      text-align: right;
    }
    .x-form-control{
      width: 240px;
      height: 42px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;

    }
    .select-form-control{

      display: inline-block;
      vertical-align: middle;

      .Select-placeholder{
        line-height: 40px;
        color: $x-value-color;
      }
      .Select-input{
        line-height: 40px;
      }
      .Select-control{
        width: 253px;
        height: 42px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
      }
      input{
        padding-left:0;
      }
    }
    input{
      padding-left: 10px;
    }
  }

  .x-btn-group{
    margin-top: 40px;
    margin-bottom: 60px;

    button {
      height: 40px;
      width: 160px;
      outline: none;
      border: 1px solid #09f;
      border-radius: 3px;
    }

    .x-edit-btn{
      color: #09f;
      background-color: #ffffff;
    }
    .x-cancel-btn{
      color: #09f;
      background-color: #ffffff;
    }
    .x-save-btn{
      color: #fff;
      background-color: #09f;
    }
  }
}


.j8-form{
  margin-top: 60px;
  input{
    padding-left: 10px;
  }

  .form-row-group{
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
  }

  .j8-label{
    width: 120px;
    display:inline-block;
  }

  .j8-input{
    height: 36px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    outline: none;
  }
  .full-w{
    width: 407px;
  }

  .half-w{
    width: 207px;
  }

  .concat-label{
    width: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
}


