.x-form{

  padding: 0 20px;
  .x-form-group{

    height: 79px;
    border-bottom: 1px solid #b2b2b2;

    .x-label{
      width: 200px;
      display: inline-block;
      line-height: 79px;
      padding-left: 20px;
      color: #808080;

    }

    .x-value{
      width: 400px;
      display: inline-block;
      color: #333333;
    }
    .x-tips{
      width: 140px;
      display: inline-block;
      color: #b2b2b2;
      text-align: right;
    }
    .x-form-control{
      width: 240px;
      height: 42px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
    }
    input{
      padding-left: 10px;
    }
  }

  .x-btn-group{
    margin-top: 40px;
    margin-bottom: 60px;

    button {
      height: 40px;
      width: 160px;
      outline: none;
      border: 1px solid #09f;
      border-radius: 3px;
    }

    .x-edit-btn{
      color: #09f;
      background-color: #ffffff;
    }
    .x-cancel-btn{
      color: #09f;
      background-color: #ffffff;
    }
    .x-save-btn{
      color: #fff;
      background-color: #09f;
    }
  }
}