<!DOCTYPE html>
<html>
<head>
  <meta name="Keywords" content="会议,展览,活动,神州,神州会展,会展,会展助手" />
  <meta name="Description" content="神州会展是一个靠谱的信息平台，为参展商提供 “专业，真实，高效” 的服务商信息，致力于帮助参展商快速找到满足需求的会展服务商" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include header.html %>
  <title>神州会展</title>

  <link rel="stylesheet" type="text/css" href="styles/index.css">

</head>
<body>
<div class="container">
  <header class="cleanfix">
    <div class="header-top">
      <a class="block s-logo" href="/"></a>
      <% if(user){%>
      <%- include components/header-authed.html %>
      <%}else{%>
      <%- include components/header-unauth.html %>
      <%}%>

    </div>

    <h1 class="title-welcome">服务商招募中</h1>

    <p class="site-title">神州会展服务平台已上线，现计划招募首批200家优质会展服务商，期待您的加入！</p>

    <div class="header-bottom">
      <div class="w-1000 s-center">
        <div class="search-and-tool">
          <div class="inline">
            <input class="search-input" placeholder="您需要什么服务?" id="searchText"/>
            <div class="city-selecter inline">
              <input type="text" value="不限" readOnly class="value" id="cityVal"/>
              <ul class="city-container cleanfix">
                <li class="selected">成都</li>
                <li>北京</li>
                <li>上海</li>
              </ul>
              <div class="arrow"></div>
            </div>
            <button class="search-button g-blue-button" id="search">搜索</button>
          </div>
          <span class="text-split">或者</span>

          <button class="publish-button g-blue-button" id="publish">发布需求</button>
        </div>
        <div class="hot-word-tool">
          <div class="tool-title inline">热门搜索：</div>
          <div class="hot-word-group inline">
            <a class="hot-word" href="/search?q=设计搭建">设计搭建</a>
            <a class="hot-word" href="/search?q=公关策划">公关策划</a>
            <a class="hot-word" href="/search?q=摄影摄像">摄影摄像</a>
            <a class="hot-word" href="/search?q=AV租赁">AV租赁</a>
            <a class="hot-word" href="/search?q=物流仓储">物流仓储</a>
            <a class="hot-word" href="/search?q=礼仪模特">礼仪模特</a>
            <a class="hot-word" href="/search?q=植物鲜花">植物鲜花</a>
            <a class="hot-word" href="/search?q=成都">成都</a>

          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="companies w-1000 s-center">
    <section class="type-full">
      <h2 class="section-head text-center">会展服务商</h2>

      <p class="section-title text-center">为您提供一站式会议展览活动的策划设计及搭建执行服务</p>
      <CompanyList type={"full_company"} companies={fullCompany}></CompanyList>
      <button class="load-more" onClick={this.loadFullCompany.bind(this)}>查看更多</button>
    </section>
    <section class="type-factory">
      <h2 class="section-head text-center">展厅展台搭建</h2>

      <p class="section-title text-center">会展、展柜、展厅、舞台搭建工程</p>
      <CompanyList type={"factory"} companies={factoryCompany}></CompanyList>
      <button class="load-more" onClick={this.loadFactorCompany.bind(this)}>查看更多</button>
    </section>
    <section class="type-hire">
      <h2 class="section-head text-center">设备租赁</h2>

      <p class="section-title text-center">灯光、音响、视频设备租赁</p>
      <CompanyList type={"hire"} companies={rentCompany}></CompanyList>
      <button class="load-more" onClick={this.loadHireCompany.bind(this)}>查看更多</button>
    </section>
  </div>
  <footer>
    <div class="f-service-container">
      <a class="service-item" href="/about">关于我们</a>
      <a class="service-item" href="/statement">服务条款</a>
      <a class="service-item" href="/privacy">隐私政策</a>
      <a class="service-item" href="">常见问题</a>
    </div>
    <div class="f-about-us">
      <div class="concat-us inline-flow">
        <h3>我们期待您的声音</h3>
        <p>客户服务电话：15928124305</p>
        <p>客户服务邮箱：szhz86@163.com</p>
      </div>
      <div class="company-info inline-flow">
        <h3>成都快乐马儿网络科技有限公司</h3>
        <p>Copyright©2015 Happy Horse Team All Right Reserved</p>
        <p>蜀ICP备15026503号-1</p>
      </div>
      <div class="wechat-fllow inline-flow">
        <h3>请关注我们</h3>
        <img src="/images/wechat.png"/>

      </div>
    </div>
  </footer>
  <div id="loginDialog">
    <div class="login-container">
      <div class="logo"></div>
      <p class="login-error" id="loginTips"></p>
      <form id="loginForm">
        <input id="phoneNumber" type="text" class="phone-number" placeholder="手机号码"/>
        <div class="tips" id="phoneTips"></div>
        <input id="password" type="password" class="password" placeholder="密码"/>
        <div class="tips" id="passwordTips"></div>
        <a href="/user/forget_password" class="reset-password">忘记密码？</a>

        <button type="submit">登 录</button>
      </form>
      <hr/>
      <div class="reg-ref">
        <span>还没有账号？</span>
        <a href="/user/register">注册</a>
      </div>
    </div>
  </div>
  <%if(user && user.u_type == "user"){%>
  <%- include components/publish-dialog.html %>
  <%}else if(user){%>
  <%- include components/publish-tips.html %>
  <%}%>

</div>
<script src="/js/index.js">

</script>
<%- include footer.html %>
</body>

</html>