$site-font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;

body{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
  letter-spacing: 0.02em;
}

input, button{
  font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif !important;
}

input::-webkit-input-placeholder {
  font-family: $site-font-family;
}

input:-ms-input-placeholder {
  font-family: $site-font-family;
}

input:-moz-placeholder {
  font-family: $site-font-family;
}

input::-moz-placeholder {
  font-family: $site-font-family;
}
ul{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
button{
  cursor: pointer;
}

.cleanfix:after{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
.w-1000{
  width: 1000px;
}
.w-800{
  width: 800px;
}
.s-center{
  margin: 0 auto;
}
.inline{
  display: inline-block;
  vertical-align: top;
}
.f-inline{
  display: block;
  float: left;
}
.block{
  display: block;
}

.text-center{
  text-align: center;
}
.inline-container{
  font-size: 0;
  -webkit-text-size-adjust:none;
}
.show{
  display: block !important;
}
.hidden{
  display: none !important;
}

.inline-b{
  display: inline-block;
}
li{
  list-style: none;
}
.white-bg{
  background-color: #fff;
}

.ml-10{
  margin-left: 10px;
}
.ml-100{
  margin-left: 100px;
}
.ml-5{
  margin-left: 5px;
}
.mr-20{
  margin-right: 20px;
}
.ml-20{
  margin-left: 20px;
}
.mt-20{
  margin-top: 20px;
}
.mt-15{
  margin-top: 15px;
}
.mt-40{
  margin-top: 40px;
}
.mb-70{
  margin-bottom: 70px;
}
.mb-30{
  margin-bottom: 30px;
}
.pt-20{
  padding-top: 20px;
}

.pt-5{
  padding-top: 5px;
}
.required{
  margin-left: 3px;
  color: #f00;
}


.Checkbox{
  .checkbox-label{
    display: inline-block;
    margin-left: 7px;
  }
}

.Upload{
  background-size: cover;
}
.no-border{
  border: none !important;
}

.no-padding-top{
  padding-top: 0px !important;
}



//btn
.btn-delete{
  color: #ff0000;
}
.btn-edit{
  color: #0af;
}

.g-btn-primary{
  width:160px;
  height: 40px;
  border: 1px solid #0af;
  color: #0af;
  font-size: 14px;
  background-color: #fff;
  border-radius: 3px;
  outline: none;


  &:hover{
    background-color: #0af;
    color: #fff;
  }
}
.blue-button{
  background-color: #0af;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}
.g-blue-button{
  &:hover{
    background-color: #1ab3ff;
    border-color: #1ab3ff;

  }

  &:active, &:visited{
    background-color: #08c;
    border-color: #08c;
  }
}
.DayPicker{
  z-index: 100;
}

.star{
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../images/star_icon.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.no-star{
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../images/star_border.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.x-close{
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../images/cancel_icon.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &:hover{
    background-image: url("../images/cancel_icon_hover.png");
  }
}

.error{
  color: #ff0000 !important;
}
.error-tips{
  color: #ff0000 !important;
  height: 19px;
  font-size: 12px;
}

.modal-open{
  overflow: hidden;
}
*{
  outline: none;
}
hr{
  padding: 0;
  margin: 0;
}
p{
  line-height: 22px;
}

.overflow-ellipsis{
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.split-line{
  color: #808080;
}


/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.ui-corner-all{
  background-color: #FFFFFF;
  padding: 20px;
  width: 320px;
}
.ui-dialog-titlebar{
  display: none;
}


.x-row:after{
  visibility: hidden;
  display: block;
  content: ".";
  clear: both;
  height: 0px;
}
.x-row{

  .row-item{
    float: left;
  }
}

.box-input{
  box-sizing: border-box;
}