body{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
}
ul{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
button{
  cursor: pointer;
}

.cleanfix:after{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
.w-1000{
  width: 1000px;
}
.w-800{
  width: 800px;
}
.s-center{
  margin: 0 auto;
}
.inline{
  display: inline-block;
  vertical-align: top;
}


.text-center{
  text-align: center;
}
.inline-container{
  font-size: 0;
  -webkit-text-size-adjust:none;
}
.show{
  display: block;
}
.hidden{
  display: none !important;
}

.inline-b{
  display: inline-block;
}
li{
  list-style: none;
}
.white-bg{
  background-color: #fff;
}
.ml-10{
  margin-left: 10px;
}
.ml-100{
  margin-left: 100px;
}
.ml-5{
  margin-left: 5px;
}
.mr-20{
  margin-right: 20px;
}
.ml-20{
  margin-left: 20px;
}
.mt-15{
  margin-top: 15px;
}
.mt-40{
  margin-top: 40px;
}

.pt-20{
  padding-top: 20px;
}

.pt-5{
  padding-top: 5px;
}
.required{
  margin-left: 3px;
  color: #f00;
}


.Checkbox{
  .checkbox-label{
    display: inline-block;
    margin-left: 7px;
  }
}

.Upload{
  background-size: cover;
}
.no-border{
  border: none !important;
}

.no-padding-top{
  padding-top: 0px !important;
}



//btn
.btn-delete{
  color: #ff0000;
}
.btn-edit{
  color: #0af;
}

.g-btn-primary{
  width:160px;
  height: 40px;
  border: 1px solid #0af;
  color: #0af;
  font-size: 14px;
  background-color: #fff;
  border-raduis: 3px;
  outline: none;
}
.DayPicker{
  z-index: 100;
}
