body{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
}
ul{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.cleanfix:after{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
.w-1000{
  width: 1000px;
}
.w-800{
  width: 800px;
}
.s-center{
  margin: 0 auto;
}
.inline{
  display: inline-block;
  vertical-align: top;
}
.text-center{
  text-align: center;
}
.inline-container{
  font-size: 0;
  -webkit-text-size-adjust:none;
}
.show{
  display: block;
}
.hidden{
  display: none;
}

.inline-b{
  display: inline-block;
}
li{
  list-style: none;
}
.white-bg{
  background-color: #fff;
}

.mr-20{
  margin-right: 20px;
}

.required{
  margin-left: 3px;
  color: #f00;
}
